
<!-- npm run ng g c dashboard -->
<!-- npm start -->


<!-- Search People -->


<!-- List of People with Pagination -->


<!-- Create New People -->


<!-- Update Existing People -->


<!-- Delete Existing People -->


<!-- Install angular material -->
<!-- npm install  @angular/cdk  --save-dev -->
<!-- npm install @angular/material --save-dev -->
<!-- Add MatDividerModule and MatTableModule in app.module.ts -->

<div class="title-group">
    <h1 class="mat-h1">Edit People </h1>
    <mat-divider fxFlex="1 0"></mat-divider>

  <form [formGroup]="reactiveForm" (ngSubmit)="editPeople()" >
  <p>
    <mat-form-field appearance="legacy">
      <!-- <mat-label>First Name:</mat-label> -->
      <input  placeholder="First Name" formControlName="first_name" required>

    </mat-form-field>
  </p>


  <p>
    <mat-form-field >
      <mat-label>Last Name:</mat-label>
      <input  placeholder="Last Name" formControlName="last_name" required>
    
    </mat-form-field>
  </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Email Address:</mat-label>
        <input  placeholder="Email"formControlName="email" required>
        
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Mobile:</mat-label>
        <input  placeholder="Mobile" formControlName="mobile" required>
   
      </mat-form-field>
    </p> 

    <p>
      <button type="submit">Submit</button>
    </p>
  </form>

</div>